<div class="centered center jumbotron">
    <div class ="container">
        <h1>Performance Readiness System</h1>

        <h2>
          Using proven training methodologies, PRS can help you assess the readiness level of your teams.
        </h2>
        <% unless current_user %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
        <% end %>
    </div>
</div>
