<h1>Profile</h1>
<h2><%= @user.username.capitalize %></h2>
<ul>
    <li>Email: <%= @user.email %></li>
    <% if @user.tasks.any? %>
        <% @user.tasks.each do |task| %>
            <ul>
                <li>Assigned Tasks: <%= task.name %></li>
            </ul>
        <% end %>
    <% end %>
</ul>
